.description {
    overflow: hidden;

    &__title {
        text-align: center;
        margin: 100px 0 40px 0;
    }

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
    }

    .calc-banner {
        background: linear-gradient(152deg, rgba(245, 248, 249, 0.8) 0%, rgba(175, 175, 175, 0.8) 100%);
        border-radius: 20px;

        &__title {
            font-family: sans-serif;
            font-size: 32px;
            line-height: 1.2;
            color: #8b1a1a; // Темно-красный цвет заголовка
            margin-bottom: 30px;
            font-weight: normal;

            span {
                color: #8b1a1a;
            }
        }
    }


}
