.exam {
    margin: 0 0 90px 0;

    @media (max-width: 1000px) {
        margin: 0 0 70px 0;
    }

    &__wrapper {

    }

    &__title {
        text-align: center;
        margin: 0 0 20px 0;

        @media (max-width: 1000px) {
            font-size: 34px;
            padding: 50px 0 0 0;
        }

        @media (max-width: 650px) {
            font-size: 26px;
            text-align: center;
        }
    }

    &__title-description {
        text-align: center;
        margin: 0 0 40px 0;
    }

    &__card-wrapper {
        display: flex;
        flex-flow: row nowrap;
        padding: 0 0 10px 0;
        gap: 10px;

        @media (max-width: 800px) {
           flex-flow: row wrap;
        }

        @media (max-width: 630px) {
           justify-content: center;
            gap: 10px;
        }
    }

    &__card {
        @include image-wrapper;
        position: relative;
        overflow: hidden;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 237px;
        width: 24.3%;
        height: 184px;
        border-radius: 20px;
        padding: 24px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: 100%;

            @media (max-width: 800px) {
                width: 100%;
                height: auto;
            }

            @media (max-width: 630px) {
                width: auto;
                height: 100%;
            }

            @media (max-width: 500px) {
                width: 100%;
                height: auto;
            }
        }

        @media (max-width: 800px) {
            max-width: 326px;
            width: 46%;
        }

        @media (max-width: 500px) {
            max-width: 400px;
            width: 100%;
        }
    }

    &__card-item {
        font-weight: 600;
        font-size: 18px;
        color: #f5f8f9;
        text-align: left;
        z-index: 2;
    }

    &__card-link {
        display: block;
        width: 70%;
        background-color: $red;
        border: none;
        border-radius: 55px;
        padding: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: $white;
        text-align: center;
        margin: 0 auto;
        z-index: 2;
    }
}