@font-face {
    font-family: "Raleway";
    src: local("regular"),
        url("../fonts/regular.woff") format("woff");
    font-weight: 400;
    font-style: regular;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: local("semibold"),
        url("../fonts/semibold.woff") format("woff");
    font-weight: 600;
    font-style: semibold;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: local("medium"),
        url("../fonts/medium.woff") format("woff");
    font-weight: 500;
    font-style: medium;
    font-display: swap;
}