html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Raleway";
    background-color: #fff;
    color: $black-text;
    min-width: 360px;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }
}

main {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $black-text;
    transition: 0.1s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
    cursor: default;
}

h2 {
    font-weight: 400;
    font-size: 42px;
    color: $black-text;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.container {
    @include breakpoint;
    width: 1000px;

    @media (max-width: 1000px) {
        width: 100%;
    }
}

.button {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.link {
    transition: 0.1s ease-in-out;

    &:hover {
        opacity: 0.8;
        transition: 0.3s;
    }
}

label {
    transition: 0.1s ease-in-out;

    cursor: pointer;
}

select {
    border: none;
    -webkit-appearance: none;

    &:hover,
    &:focus {
        outline: 0 !important;
    }
}

input {
    transition: 0.1s ease-in-out;

    cursor: pointer;
    outline: none;
}

.input-wrapper {

    &.error {
        input {
            border: 1px solid #e42121;
        }
    }
}

.item-link {

    &::after {
        position: absolute;
        top: 39px;
        right: 39px;
        content: "";
        display: block;
        width: 34px;
        height: 34px;
        background-size: 34px 34px;
        background-position: center;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 10, 18, 0.6);
    overflow-x: hidden;
    z-index: 2;

    &.open {
        display: block;
    }
}
